

.ourMotos {
    padding-top: 200px;
}

.motoLogo {
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.motosTitle {
    width: 300px;
    margin: 0 auto;
    border-bottom: solid 1px #C2C292;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.motosTitle h1 {
    font-family: "Barlow-Bold";
    font-size: 40px;
    font-weight: 100;
}

.ourMotos h4 {
    font-family: "Barlow-Medium";
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.motosOffers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #101d25ef;
}

.offer1 {
    width: 60%;
    height: 850px;
    background-image: url("../Images/motoOffer1.jpeg");
    background-size: cover;
    background-position: 80% 0%;
    padding-top: 100px;
    padding-bottom: 75px;
    padding-left: 75px;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

/* .offer2 {
    width: 49.99%;
    background-image: url("../Images/motoOffer2.jpeg");
    background-size: cover;
    background-position: 80% 80%;
    height:700px;
    padding-top: 100px;
    padding-bottom: 75px;
    padding-left: 75px;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
} */

.motosOffers h1 {
    font-family: "Barlow-Bold";
    font-size: 50px;
    color: #F8F8F8;
}

.ourMotoButtons {
    display: flex;
    justify-content: space-between;
}

.fotoButt {
    font-family: "Barlow-Bold";
    border: #A6A26A solid 1px;
    background-color: #f8f8f800;
    padding: 15px 50px 15px 50px;
    font-size: 20px;
    color: #F8F8F8;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 20px;
}

.fotoButt:hover {
    background-color: #CACA9F;
    color: #080800;
}

.offerReserveButt {
    font-family: "Barlow-Bold";
    border: #CACA9F solid 1px;
    background-color: #A6A26A;
    padding: 15px 50px 15px 50px;
    font-size: 20px;
    color: #080800;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 20px;
}

.offerReserveButt:hover {
    background-color:#caca9f00;
    color: #f8f8f8;
}

.atributeS {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.atribute {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.atribute p {
    font-family: "Barlow-Medium";
    font-size: 23px;
    font-weight: 100;
    margin-left: 50px;
    color: #F8F8F8;
}

.moreInfo {
    font-family: "Barlow-Medium";
    font-size: 20px;
    color: #F8F8F8;
    margin-bottom: 20px;
    text-decoration: underline;
    background-color: #08080000;
    border: none;
    width: 125px;
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
}

.priceList {
    font-family: "Barlow-Medium";
    font-size: 20px;
    background-color: #f8f8f844;
    color: #ffffff;
    margin-bottom: 20px;
    border: 1px #CACA9F solid;
    border-radius: 10px;
    width: 125px;
    cursor: pointer;
    padding: 7px 2px;
}

@media screen and (max-width: 1500px) {
    .offer1 {
        width: 100%;
    }
}

@media screen and (max-width: 1288px) {
    .ourMotos{
        padding-top: 100px;
    }
}

@media screen and (max-width: 1000px) {
    .motosOffers {
        flex-direction: column;
    }

    .offer1 {
        width: 100%;
    }

    .offer2 {
        width: 100%;
    }

    .ourMotoButtons {
        flex-direction: row;
    }
}

@media screen and (max-width: 700px) {
    .ourMotoButtons {
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
    }
}

@media screen and (max-width: 500px) {
    .motosOffers h1 {
        font-size: 40px;
        text-align: center;
        color: #F8F8F8;
    }

    .offer1 {
        padding-right: 0px;
        padding-left: 0px;
        align-items: center;
    }
    .motoLogo {
        display: inline;
        margin-right: 0px;
    }

    /* .offer2{
        padding-right: 0px;
        padding-left: 0px;
        align-items: center;
    } */

    .moreInfo {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .priceList{
        margin: 0 auto;
    }

    .ourMotoButtons {
        display: flex;
        align-items: center;
    }

    .offerReserveButt {
        border: #A6A26A solid 1px;
        background-color:#CACA9F;
        padding: 15px 30px 15px 30px;
        font-size: 17px;
        color: #080800;
        border-radius: 25px;
        cursor: pointer;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 300px) {
    .motosTitle {
        width: 100%;
    }
}